*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      color: rgb(13, 53, 58);
      background-color: rgb(188, 162, 212);
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
  }
  
  header {
      background-color: #333333;
      color: white;
      padding: 10px 0;
  }
  
  nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 15px;
  }
  
  nav a {
      color: white;
      text-decoration: none;
  }
  
  main {
      padding: 20px;
  }
  
  #projects .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
  }
  
  .grid-item {
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;
      background-color: #f9f9f9;
  } 
  
  